@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $darkGrey;
  color: $white;
  height: 100px;
  // z-index: 100;

  .logo {
    position: absolute;
    top: 50%;
    left: 33px;
    @include translateY(-50%);
    height: 100px;
  }
  // ------

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  // ------
  nav {
    position: absolute;
    top: 47%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

@media (max-width: 675px) {
  label {
    display: block;
    cursor: pointer;
  }
  // ul {
  // display: none;
  // width: 100%;
  // text-align: left;
  // }
  // #toggle:checked + ul {
  //   display: flex;
  //   flex-direction: column;
  //   position: fixed;
  //   right: 31vw;
  //   top: 77px;
  // }

  .header-links {
    font-size: 35px;
  }
  .drop-down-menu {
    width: 100vh;
    height: 46vh;
    background: #93bcc1;
    opacity: 0.95;
    position: absolute;
    // left: -675px;
    left: -740px;
    // z-index: 100;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    // align-items: center;

    &.opened {
      top: 53px;
      animation: handleOpen 0.2s;
    }
    &.closed {
      top: 53px;
      left: -1650px;
      animation: handleClose 1s;
    }
  }

  .ulStyle {
    height: 300px;
    width: 23%;
    position: absolute;
    // right: 75vw;
    right: 33vw;
    // top: 4vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    // margin: 30px 0 0 0;
    // justify-content: center;
    // margin: auto;
    // align-content: space-around;
  }
  // header {
  //   height: 20vh;
  // }
}

@media (max-width: 540px) {
  label {
    display: block;
    cursor: pointer;
  }
  // ul {
  //   display: none;
  //   width: 100%;
  //   text-align: center;
  // }
  // #toggle:checked + ul,
  // li {
  //   margin-right: 0;
  //   display: block;
  //   display: flex;
  //   flex-direction: column;
  //   // border: 0.5px solid;
  // }
  // header {
  //   height: 30vh;
  // }
  .ulStyle {
    height: 300px;
    width: 23%;
    position: absolute;
    // right: 75vw;
    right: 29vw;
    top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto;
  }
}

@media (max-width: 528px) {
  .haveP {
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    left: 3%;
  }
}

@media (max-width: 446px) {
  .haveP {
    font-size: 4vw;
  }
}

@media (max-width: 426px) {
  .haveP,
  .needP {
    display: none;
  }
}

@media (max-width: 387px) {
  .needP {
    display: none;
  }
}

@media (max-width: 325px) {
  iframe {
    width: 250px;
    height: 250px;
  }
}

@keyframes handleOpen {
  from {
    left: -1450px;
    // left: -2450px;
  }
  to {
    // left: -675px;
    left: -925px;
  }
}
@keyframes handleClose {
  from {
    // visibility: visible;
    left: -925px;
  }
  to {
    left: -10000px;
    display: none;
  }
}
