@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $darkGrey;
  color: $white;
  height: 20vh;

  .logo {
    position: absolute;
    top: 50%;
    left: 33px;
    @include translateY(-50%);
    height: 100px;
  }
  // ------

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  // ------
  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

@media (max-width: 675px) {
  label {
    display: block;
    cursor: pointer;
  }
  ul {
    display: none;
    width: 100%;
    text-align: center;
  }
  #toggle:checked + ul,
  li {
    margin-right: 0;
    display: block;
    display: flex;
    flex-direction: column;
    // border: 0.5px solid;
  }
  header {
    height: 27vh;
  }
}

@media (max-width: 540px) {
  label {
    display: block;
    cursor: pointer;
  }
  ul {
    display: none;
    width: 100%;
    text-align: center;
  }
  #toggle:checked + ul,
  li {
    margin-right: 0;
    display: block;
    display: flex;
    flex-direction: column;
    // border: 0.5px solid;
  }
  header {
    height: 27vh;
  }
}

@media (max-width: 325px) {
  iframe {
    width: 250px;
    height: 250px;
  }
}

// @media (max-width: );
